<nav class="navbar navbar-expand-lg bg-body-tertiary">

    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f958aef0-6bf3-4f0e-a2a8-bd383adb755d/d5exmms-ecebfd70-c22c-4a18-91a8-da1ce7390307.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Y5NThhZWYwLTZiZjMtNGYwZS1hMmE4LWJkMzgzYWRiNzU1ZFwvZDVleG1tcy1lY2ViZmQ3MC1jMjJjLTRhMTgtOTFhOC1kYTFjZTczOTAzMDcucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.v7EbcH9Krmd3updvRnGcj19VWXeV-8pqe-2XADpa5U8" alt="Nube" width="100" height="100">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/realtimeproducts">Catalogo</a>
                </li>
            </ul>
        </div>
    </div>
</nav>